
.h3 {
    font-size:30px;
    font-family: 'Raleway', sans-serif;
}




.bod{
    background:-webkit-gradient(linear, 40% 20%, 10% 21%, from(#DCE4E4), to(#869C9B))
}

.title{
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
.boton {
    margin-top: 10px;
    position: absolute;
    width: 50px;
}

.ser {
   
    border-style: groove;
}

.menu {
    padding-top:20px; 
    
}

body {
    background:#FFFFFA;   
}

header nav {
    padding-top: 10px;
    border-radius: 10px;
    background:#024959;
    width: 180px;

    
    
    
}

.menu_bar {
    display:none;
    
}

header nav ul {
    overflow:hidden;
    list-style:none;
}

header nav ul li {
    float: bottom;
     margin-bottom: 30px;
     
     
    

}

header nav ul li a {
    color:#fff;
    padding:20px;
    display:block;
    text-decoration:none;
    
}



header nav ul li a:hover {
    
    background:white;
    border-radius: 20px;
    height: auto;
    width: auto;
}

section {
    padding:20px;
}

/*@media screen and (max-width:800px ) {
    header nav {
        width:80%;
        height:100%;
        left:-100%;
        margin:0;

    }

    header nav ul li {
        display:block;
        float:none;
        border-bottom:1px solid rgba(255,255,255, .3);
    }

    .menu_bar {
        display:block;
        width:100%;
        background:#ccc;
    }

    .menu_bar .bt-menu {
        display:block;
        padding:20px;
        background:#024959;
        color:#fff;
        text-decoration:none;
        font-weight: bold;
        font-size:25px;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
    }

    .menu_bar span {
        float:right;
        font-size:40px;
    }
}*/
